.heading-resume {
    font-family: 'Mali', cursive;
    text-align: center;
    text-transform: capitalize;
    font-size: 72px;
    /* background: #ff77a9; */
    color: #8D6E63;
    border-radius: 16px;
}

.magic-statement{
    position: fixed;
    right: 12px;
    top: 8px;
    font-family: Mali, sans-serif;
    border-radius: 4px;
    padding: 4px 4px;
    /* margin-right: 8px; */
    writing-mode: vertical-rl;
    text-orientation: mixed;
    /* color: white; */
    font-weight: bold;
    letter-spacing: 0.6px;
    z-index: 2000;
    background: linear-gradient(to right, orange, pink);
}

.section-head {
    font-family: "comfortaa", 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px; 
}

.skill-image-container{
    border-radius: 4px;
    border-radius: 8px;
    padding: 12px 0px;
}

.skill-image{
    position: relative;
    margin: auto;
    overflow: hidden;
    background: #efefef;
    /* clip-path: polygon(0 0, 100% 0, 79% 100%, 21% 100%); */
    width: 112px;
    height: 112px;
    object-fit: contain; 
    border-radius: 8px;
    border-radius: 73px 73px;
}

.skill-image-actual{
    margin: auto;
    z-index: 1000;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    padding: 16px;
    display: block;
    height: 96px;
    width: auto;
}

.skill-text {
    text-align: center;
    font-family: "Mali", sans-serif;
    font-size: 16px;
    padding-top: 8px;
    margin-bottom: 16px;
    /* font-weight: bold; */
}

.skill-level-10{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 10%;
    height: 0%;
    background: #f48fb1;
    opacity: 0.8;
}

.skill-level-20{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 20%;
    height: 0%;
    background: #ce93d8;
    opacity: 0.8;
}
.skill-level-30{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 30%;
    height: 0%;
    background: #90caf9;
    opacity: 0.8;
}
.skill-level-40{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 40%;
    height: 0%;
    background: #80deea;
    opacity: 0.8;
}
.skill-level-50{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 50%;
    height: 0%;
    background: #4db6ac;
    opacity: 0.8;
}
.skill-level-60{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 60%;
    height: 0%;
    background: #c5e1a5;
    opacity: 0.8;
}
.skill-level-70{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 70%;
    height: 0%;
    background: #fdd835;
    opacity: 0.8;
}

.skill-level-80{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 80%;
    height: 0%;
    background: #ffb74d;
    opacity: 0.8;
}
.skill-level-90{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 90%;
    height: 0%;
    background: #ff7043;
    opacity: 0.8;
}

.skill-level-100{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 10%;
    height: 0%;
    background: #a1887f;
    opacity: 0.8;
}

[class*="skill-level-"]{
    transition: height 0.3s ease-in;
}

.skill-image:hover [class*="skill-level-"] {
    height: 100%;
}

.color-1 {
    background: #4db6ac;
}
.color-2 {
    background: #ff7043;
}
.color-3 {
    background: #c5e1a5;
}
.color-4 {
    background: #ffb74d;
}
.color-5 {
    background: #ffee58;
}
.color-6 {
    background: #80deea;
}

.footer-copyright{
    font-family: 'Mali', cursive;
    font-size: 14px;
}

.footer-copyright a {
    font-weight: 500;
    color: #4db6ac;
}

.footer-copyright a:hover{
    color: #80deea;

}

.social-icon-container a{
    font-size: 24px;
    color: #4db6ac;
}

.social-icon-container a:hover{
    color: #80deea;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .heading-resume {
        font-size: 64px;
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .heading-resume {
        font-size: 28px;
        padding-top: 48px !important;
        padding-bottom: 48px !important;
        border-radius: 0px 0px 24px 24px;
    }
}

