@import url(theme.css);

*{
     margin: 0px;
     padding: 0px;
 }

 html, body {
     margin: 0px !important;
     padding: 0px !important;
 }

.profile-container {
    width: 100%;
    height: 100vh;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 2px solid white;
    float: right;
}

.bg-white{
    background-color: white;
}

.header-profile-image-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.header-profile-image-container img{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    object-position: 50% 40%;
    z-index: -1;
    filter: hue-rotate(40deg);
}

.image-overlay-filter{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top right, var(--color-main),var(--color-mid), var(--color-sec));
    opacity: 0.8;
}

header{
    width: 100%;
    height: 100vh;
    margin: 0px !important;
    padding: 0px !important;
}

.c-nav-container {
    list-style-type: none;
    z-index: 100;
    transition: background-color 0.24s ease-in-out;
}

a {
    text-decoration: none !important;
}

.sticky-nav .c-nav-link a{
    font-size: 16px;
}

.sticky-nav {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    position: fixed;
    top: 0;
    left: 8px;
    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: linear-gradient(to right, var(--color-main), var(--color-mid), var(--color-sec));  
    transition: 0.24s opacity ease-in-out;
}

@keyframes bounce {
    50% { transform: scale(1.05);}
}

.nav-not-visible{
    opacity: 0.0;
}

.sticky-nav-visible{
    opacity: 1.0;
    animation: bounce 1.0s;
}

.c-nav-link{
    display: inline;
}

.c-nav-link a {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 20px;
    padding: 8px;
}

.c-nav-link a:hover{
    color: var(--color-nav);
}

.about-container {
    position: relative;
    bottom: -100%;
    transform: translateY(-100%);
    color: white;
    max-width: 576px;
    opacity: 0.8;
}

.about-header{
    font-size: 48px;
    font-family: 'Mali', cursive;
    letter-spacing: 1px;
}

.about-desc {
    font-weight: 100;
    font-size: 18px;
    font-family: 'Mali', cursive;
}

main {
    background: var(--background-main);
}

.project-container-main {
    border-radius: 16px !important;
    position: relative;
    overflow: hidden;
    background: white;
}

.project-image-container {
    height: 320px;
    width: 100%;
    overflow: hidden;
    position: relative;
    object-fit: contain;
    border-radius: 4px 4px 0px 0px;
}

.project-image{
    height: 320px;
    width: 100%;
    object-fit: cover;
}

.project-header{
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-mid); 
}

.project-desc{
    font-family: 'roboto', sans-serif;
    color: black;
    word-wrap: break-word;
    line-height: 1.4em;
    max-height: 4.2em;
    height: 4.2em;
    overflow: hidden;
    font-weight: 300;
    text-overflow: ellipsis;
}

.view-button{
    border: none;
    background: linear-gradient(to left, var(--color-main),var(--color-mid), var(--color-sec));
    font-family: 'comfortaa', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.16s ease-in;
}

.view-button::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--color-main);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.16s ease-in;
}

.view-button:hover::before {
    opacity: 1;
}

.view-button a{
    color: white;
}

.view-button:hover{
    /* background: #ad1457; */
    color: #fff176;
}

.live-button {
    border: none;
    background: transparent;
    text-transform: uppercase;
    color: #ec407a;
    font-family: 'roboto', sans-serif;
    text-decoration: none;
}

.arrow-live{
    position: relative;
    left: 6px;
    font-weight: 100;
    transition: left 0.16s ease-in, color 0.16s ease-in;
}

.live-button:hover .arrow-live{
    left: 12px;
    color: #ad1457;
}

.live-button:hover{
    color: #ad1457;
}

.live-button-disabled{
    text-decoration: none;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    color: gray;
}

.live-button-disabled:hover{
    color: gray;
    cursor: not-allowed;
}

.live-button-disabled:hover .arrow-live{
    left: 6px;
    color: gray;
}

.live-button-disabled{
    color: gray;
}

.c-tag {
    display: inline;
    background: var(--color-mid);
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 20px;
    color: white;
    font-family: 'Mali', cursive;
}

.footer-copyright{
    font-family: 'Mali', cursive;
    font-size: 14px;
}

.footer-copyright a {
    font-weight: 500;
    color: var(--color-mid);
}

.footer-copyright a:hover{
    color: var(--color-main);
}

.social-icon-container a{
    font-size: 24px;
    color: var(--color-mid);
}

.social-icon-container a:hover{
    color: var(--color-main);
}

@media only screen and (max-width: 992px){
    .project-desc{
        line-height: 1.4em;
        max-height: 5.6em;
        height: 5.6em;
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .profile-container{
        float: none;
        margin: auto;
    }

    .c-nav-link a {
        font-family: 'Comfortaa', cursive;
        color: white;
        font-size: 16px;
        padding: 8px 0px;
    }
    
    .header-profile {
        border-radius: 0px;
    }

    .project-image-container {
        height: 240px;
        width: 100%;
        overflow: hidden;
        position: relative;
        object-fit: contain;
    }
    
    .project-image{
        height: 240px;
        width: 100%;
        object-fit: cover;
    }

    .project-desc{
        font-size: 16px;
        line-height: 1.4em;
        max-height: 5.6em;
        height: 5.6em;
        font-size: 14px;
    }
}

@media only screen and (max-width: 384px){

    .project-desc{
        line-height: 1.4em;
        max-height: 7.0em;
        height: 7.0em;
        font-size: 14px;
    }
}